@import '../../assets/styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex: none;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.input {
  width: 100px;
  margin-left: 1rem !important;
}

.button {
  background-color: $grey300 !important;
  border-radius: 3px !important;
}