@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/breakpoints.scss';

.header {
  background: rgb(96, 101, 170);
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  color: $greyLight;
  background-color: transparent;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    background: rgba($greyLight, .3); // stylelint-disable-line
  }

  @media screen and (max-width: $ml) {
    color: $grey900;
  }
}

.active {
  background: rgba($greyLight, .3); // stylelint-disable-line
}

.logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}