@import "../../../assets/styles/colors.scss";

.container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:$indigo50;
  max-width: 900px;
  width: 100%;
  font-size: 2rem !important;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input {
  border-radius: 3px;
  height: 42.25px;
  background: $indigo50;
  padding-left: 1rem;
}

.cat {
  width: 150px !important;
}