// Each breakpoint (a key) matches with a fixed screen width (a value):

//$xs: 450px; // extra small width
//$vs: 500px; // very small width
$sm: 600px; // small width
$ml: 768px; // middle width
$md: 900px; // medium width
$lg: 1200px; // large width
//$xl: 1536px; // extra-large width

//$LAPTOP_BREAK_POINT: 700px;
